# Ignorar arquivos e pastas desnecessários do Windows e do sistema
*.lnk
*.ini
*.log
*.dat
.DS_Store
Thumbs.db

# Ignorar pastas do sistema
AppData/
OneDrive/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Saved Games/
Searches/

# Ignorar arquivos temporários e binários
*.tmp
*.bak
*.swp
*.~*
~$*

# Ignorar diretórios específicos fora do projeto
../../../*

# Ignorar arquivos Excel, ZIP e outros fora do escopo do projeto
*.xlsx
*.zip
*.url
*.png
*.vcf
*.pyc
*.ipynb_checkpoints/

# Ignorar a pasta '.vscode' e configurações do editor
.vscode/

# Ignorar qualquer outro item irrelevante no seu caso específico
